{{ define "navbar" }}
<nav>
    <!-- Site -->
    <div class="nav-logo">
        <a class="nav-element" href="/">
            <img src="/public/images/logo-circuit-board.svg" alt="phc-logo">
        </a>
    </div>
    <div class="nav-main">
        <div class="nav-item">
            <a class="nav-element" href="/utenti">Utenti</a>
        </div>
        <div class="nav-item dropdown">
            <div class="name">
                <a class="nav-element" href="/progetti">
                    <div class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="label">
                        Progetti
                    </div>
                </a>
            </div>
            <div class="nav-items">
                <div class="nav-item">
                    <a class="nav-element" href="{{ .Config.GitUrl }}">Gitea</a>
                </div>
                <div class="nav-item">
                    <a class="nav-element" href="{{ .Config.ForumUrl }}">Zulip</a>
                </div>
                <div class="nav-item">
                    <a class="nav-element" href="/seminari">Seminari</a>
                </div>
            </div>
        </div>
        <div class="nav-item dropdown">
            <div class="name">
                <a class="nav-element" href="/risorse">
                    <div class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="label">
                        Risorse
                    </div>
                </a>
            </div>
            <div class="nav-items">
                <div class="nav-item">
                    <a class="nav-element" href="/news">News</a>
                </div>
                <div class="nav-item">
                    <a class="nav-element" href="/appunti">Appunti</a>
                </div>
                <div class="nav-item">
                    <a class="nav-element" href="/guide">Guide</a>
                </div>
                <div class="nav-item">
                    <a class="nav-element" href="/link">Link Utili</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-element" href="/storia">Storia</a>
        </div>
        <div class="nav-item">
            <a class="nav-element" href="/about">About</a>
        </div>

        <div class="nav-item filler"></div>

        <!-- User Related -->
        <div class="nav-item">
            <div id="toggle-dark-mode" class="nav-button">
                <i class="fas fa-moon"></i>
            </div>
        </div>
        {{if .User}}
        <div class="nav-item">
            <a class="nav-element" href="/profile">@{{ .User }}</a>
        </div>
        {{else}}
        <div class="nav-item">
            <a class="nav-element" href="/login">Accedi</a>
        </div>
        {{end}}
    </div>
</nav>
{{ end }}