{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }}</title>

    <!-- TODO: Da cambiare molto probabilmente -->
    <link rel="icon" href="/assets/icons/icons8-electronics-100.png">
    
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <nav>
        <!-- Site -->
        <div class="nav-item">
            <a href="/">PHC</a>
        </div>
        <div class="nav-item">
            <a href="/utenti">Utenti</a>
        </div>
        <div class="nav-item">
            <a href="/blog">Notizie</a>
        </div>
        <div class="nav-item">
            <a href="https://{{ .Config.GitUrl }}">Git</a>
        </div>
        <div class="nav-item">
            <a href="https://{{ .Config.ForumUrl }}">Forum</a>
        </div>
        <!-- Spacing -->
        <div class="hfill"></div>
        <!-- User -->
        {{if .User}}
        <div class="nav-item">
            <a href="/settings">@{{ .User }}</a>
        </div>
        {{else}}
        <div class="nav-item">
            <a href="/login">Accedi</a>
        </div>
        {{end}}
    </nav>

    {{ template "body" . }}
    
    <footer>
        <div class="footer-item">
            macchinisti@poisson.phc.dm.unipi.it
        </div>
        <div class="footer-item">
            Icone da <a target="_blank" href="https://icons8.it">Icons8</a>
        </div>
    </footer>
</body>

</html>
{{end}}