{{template "base" .}}

{{define "title"}}PHC &bull; phc.dm.xxxxx.xx{{end}}

{{define "body"}}
<canvas id="circuit-pattern"></canvas>

<!-- Non avevo molta fantasia per il nome di questa classe -->
<section class="super">
    <div class="block image">
        <img src="assets/images/logo-circuit-board.svg" alt="phc-logo">
    </div>
    <div class="block text">
        <h1>
            Cos'è il PHC?
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vel maiores dolorum dicta, repellat nulla repellendus amet fuga voluptas molestiae, magni</p>
        <p>Voluptatibus sequi praesentium similique, quos ex illo autem quidem!</p>
    </div>
</section>

<section>
    <h2>Notizie Importanti</h2>
    <div class="card-list">
        <div class="card">
            <div class="title">
                <a href="/news/notizia-super-wow-1">News 1</a>
            </div>
            <div class="date">yyyy-mm-dd</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
                
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="/news/notizia-super-wow-2">News 2</a>
            </div>
            <div class="date">yyyy-mm-dd</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
                
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="/news/notizia-super-wow-3">News 3</a>
            </div>
            <div class="date">yyyy-mm-dd</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
                
            </div>
        </div>
    </div>
</section>

<section>
    <!-- TODO: Progetti/Servizi/Cose fornite -->
    <h2>Progetti</h2>
    <div class="card-list">
        <div class="card">
            <div class="title">Project title</div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem assumenda voluptatum harum quo nisi alias ab cupiditate corrupti est, illum culpa, excepturi, fugiat dolore doloribus minima placeat facilis enim quaerat!
                </p>
            </div>
        </div>
        <div class="card">
            <div class="title">Project title</div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem assumenda voluptatum harum quo nisi alias ab cupiditate corrupti est, illum culpa, excepturi, fugiat dolore doloribus minima placeat facilis enim quaerat!
                </p>
            </div>
        </div>
        <div class="card">
            <div class="title">Project title</div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem assumenda voluptatum harum quo nisi alias ab cupiditate corrupti est, illum culpa, excepturi, fugiat dolore doloribus minima placeat facilis enim quaerat!
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="card">
        <div class="title">Vuoi diventare un macchinista?</div>
        <div class="description">
            <p>
                Ti interessa (o interesserebbe) smanettare al PC, montare e smontare i cose? Stai spesso in dipartimento? Allora
                puoi venire a parlare con noi per diventare un apprendista macchinista per poi entrare nel PHC.
            </p>
        </div>
    </div>
</section>

<script src="/assets/home.js"></script>
{{end}}