{{template "base" .}}

{{define "title"}}PHC &bull; phc.dm.xxxxx.xx{{end}}

{{define "body"}}

<section>
    <header>
        <img class="logo" src="https://img.icons8.com/ios-filled/100/000000/electronics.png" />
        <div class="title">
            <h1 class="huge">
                PHC
            </h1>
            <h2>Poisson</h2>
        </div>
    </header>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores quas nostrum suscipit nulla. Reiciendis
        quos et
        vel animi amet facere dignissimos, nemo, repudiandae suscipit esse quod obcaecati iure soluta cumque?
    </p>
</section>

<section>
    <h2>
        <img class="icons8" src="https://img.icons8.com/ios-filled/50/000000/service.png" />
        Servizi
    </h2>

    <p>
        Questi sono tutte le risorse e i servizi offerti dal PHC.
    </p>

    <div class="service-list">
        <div class="service">
            <h3>
                <img class="icons8" src="https://img.icons8.com/ios-filled/50/000000/news.png" />
                <a href="/blog">Blog & Notizie</a>
            </h3>
            <p>
                Blog del PHC, qui sono racconte le ultime notizie sui nostri progetti recenti, informazioni su eventuali
                guasti e giorni di manuntenzione.
            </p>
        </div>
        <div class="service">
            <h3>
                <img class="icons8" src="https://img.icons8.com/ios-filled/50/000000/user-manual.png" />
                <a href="/guides">Guide</a>
            </h3>
            <p>
                Nel corso del tempo abbiamo scritto alcune guide utili per utilizzare Poisson o Linux in generale.
            </p>
        </div>
        <div class="service">
            <h3>
                <img class="icons8" src="https://img.icons8.com/ios-filled/50/000000/find-user-male.png" />
                <a href="/utenti">Utenti</a>
            </h3>
            <p>
                Lista degli utenti di Poisson e link a relativi siti.
            </p>
        </div>
        <div class="service">
            <h3>
                <img class="icons8" src="https://img.icons8.com/ios-filled/50/000000/git.png" />
                <a href="https://git.phc.dm.xxxxx.xx">Git</a>
            </h3>
            <p>
                Server Git per gli utenti di Poisson, i progetti del PHC ad un certo punto verranno tenuti qui.
            </p>
        </div>
        <div class="service">
            <h3>
                <img class="icons8" src="https://img.icons8.com/ios-filled/50/000000/matrix-logo.png" />
                <a href="https://element.phc.dm.xxxxx.xx">Matrix server</a>
            </h3>
            <p>
                Server locale per chattare e fare videoconferenze con altre persone del dipartimento.
            </p>
        </div>
        <div class="service">
            <h3>
                <img class="icons8" src="https://img.icons8.com/ios-filled/50/000000/road-worker.png" />
                <a href="https://forum.phc.dm.xxxxx.xx">Forum</a>
            </h3>
            <p>
                Forum per parlare di Matematica in \(\LaTeX\), Informatica e argomenti accademici in generale.
            </p>
        </div>
    </div>
</section>

<section>
    <h2>
        <img class="icons8" src="https://img.icons8.com/ios-filled/50/000000/work.png" />
        Macchinisti
    </h2>

    <p>
        Al momento i macchinisti sono:
    </p>

    <ul>
        <li><a href="https://poisson.phc.dm.unipi.it/~persona">Persona 1</a> dal 2018</li>
        <li><a href="https://poisson.phc.dm.unipi.it/~persona">Persona 5</a> dal 2017</li>
        <li><a href="https://poisson.phc.dm.unipi.it/~persona">Persona 3</a> dal 2016</li>
        <li><a href="https://poisson.phc.dm.unipi.it/~persona">Persona 4</a> dal 2015</li>
        <li><a href="https://poisson.phc.dm.unipi.it/~persona">Persona 6</a> dal 2014</li>
        <li><a href="https://poisson.phc.dm.unipi.it/~persona">Persona 2</a> dal 2013</li>
        <li><a href="https://poisson.phc.dm.unipi.it/~persona">Persona 7</a> dal 2012</li>
    </ul>

    <h3>Vuoi diventare un macchinista?</h3>

    <p>
        Ti interessa (o interesserebbe) smanettare al PC, montare e smontare i cose? Stai spesso in dipartimento? Allora
        puoi venire a parlare con noi per diventare un apprendista macchinista per poi entrare nel PHC.
    </p>
</section>

{{end}}