{{template "base" .}}

{{define "title"}}Link Utili &bull; PHC{{end}}

{{define "body"}}
<section>
    <h2>
        <i class="fas fa-link"></i>
        Link Utili
    </h2>
    <p class="center">
        Questo è un elenco di alcuni indirizzi potenzialmente utili
    </p>
    <ul>
    <div class="card-list">
        <div class="card">
            <div class="title">
                <a href="https://linktr.ee/aulastudenti">Aula Studenti</a>
                <i class="fas fa-external-link-alt"></i>
            </div>
            <div class="description">
                Lista di link relativi alle attività dell'aula studenti del Dipartimento di Matematica
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="https://github.com/SuzanneSoy/WiTeX">Wikipedia+LaTex??</a>
                <i class="fas fa-external-link-alt"></i>
            </div>
            <div class="description">
                Sei stanco del pessimo font di Wikipedia? Finalmente potrai leggere i <a href="https://en.wikipedia.org/wiki/Abstract_nonsense">tuoi</a> <a href="https://en.wikipedia.org/wiki/New_Math">articoli</a> <a href="https://en.wikipedia.org/wiki/%C3%89variste_Galois#Final_days">preferiti</a> di Wikipedia con un typesetting in stile LaTex!
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="http://detexify.kirelabs.org/classify.html">Non trovi un simbolo in Latex?</a>
                <i class="fas fa-external-link-alt"></i>
            </div>
            <div class="description">
                Questo sito ti permette di disegnare "a mano" il simbolo che cerchi e trovare il suo corrispondente comando LaTex.
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="http://www.dm.unipi.it/webnew/it/cds/home-cds">CdS Matematica</a>
                <i class="fas fa-external-link-alt"></i>
            </div>
            <div class="description">
                La homepage del corso di studi all'interno del sito  ufficiale del Dipartimento di Matematica
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="https://github.com/BachoSeven/dotfiles/blob/master/.local/bin/scripts/printa4">Stampare da terminale in dipartimento</a>
                <i class="fas fa-external-link-alt"></i>
            </div>
            <div class="description">
                Semplice shellscript che permette di stampare un file in una stampante del Dipartimento di Matematica da una qualsiasi shell Unix (Linux, MacOS, BSD...). Funziona anche da remoto!
            </div>
        </div>
    </div>
    </ul>
</section>
<script>

</script>

{{end}}
