{{template "base" .}}

{{define "title"}}Link Utili &bull; PHC{{end}}

{{define "body"}}
<section>
    <h2>
        <i class="fas fa-link"></i>
        Link Utili
    </h2>
    <p class="center">
        Questo è un elenco di alcuni indirizzi potenzialmente utili
    </p>
    <ul>
        <li>
            <a href="https://linktr.ee/aulastudenti">Link dell'Aula Studenti</a>
            <i class="fas fa-external-link-alt"></i>
        </li>
        <li>
            <a href="#">Come stampare da terminale in dipartimento</a>
        </li>
        <li>
            <a href="http://www.dm.unipi.it/webnew/it/cds/home-cds">Dipartimento di Matematica</a>
            <i class="fas fa-external-link-alt"></i>
        </li>
        <li>
            <a href="http://detexify.kirelabs.org/classify.html">Non trovi un simbolo in Latex?</a>
            <i class="fas fa-external-link-alt"></i>
        </li>
        <li>
            <a href="https://github.com/SuzanneSoy/WiTeX">Wikipedia + Latex</a>
            <i class="fas fa-external-link-alt"></i>
        </li>
    </ul>
</section>
<script>

</script>

{{end}}
