{{template "base" .}}

{{define "title"}}PHC &bull; Accedi &bull; phc.dm.xxxxx.xx{{end}}

{{define "body"}}
<section>
    <h2>Account di Poisson</h2>
    <div class="card-list">
        <form class="card" action="/login" method="POST">
            <div class="title">
                <i class="fas fa-sign-in-alt"></i>
                Accedi
            </div>
            <p>
                Inserisci le tue credenziali di Poisson per accedere.
            </p>

            <div class="field-set">
                <label for="login-username">Username:</label>
                <input type="text" name="username" id="login-username">
                
                <label for="login-password">Password:</label>
                <input type="password" name="password" id="login-password">    
            </div>
            <div class="field">
                <button class="primary">Accedi</button>
            </div>
        </form>
    </div>
</section>

<section>
    <h2>Ottenere un account</h2>
    <p>
        Se vuoi ottenere un account compila* il <a href="#">modulo di richiesta</a> e portacelo in PHC o inviacelo via
        email all'indirizzo <a href="mailto:{{ .Config.Email }}">{{ .Config.Email }}</a>.
    </p>
    <p>
        *In realtà il modulo ancora non esiste
    </p>
</section>

<section>
    <h2>Recupero credenziali</h2>
    <p>
        Per il recupero credenziali vieni direttamente al PHC a parlarne con calma con noi altrimenti puoi inviaci una
        email all'indirizzo <a href="mailto:{{ .Config.Email }}">{{ .Config.Email }}</a>.
    </p>
</section>
{{end}}