{{template "base" .}}

{{define "title"}}PHC &bull; Accedi &bull; phc.dm.xxxxx.xx{{end}}

{{define "body"}}

<form action="/login" method="post">
    <h2>
        <i class="fas fa-sign-in-alt"></i>
        Accedi
    </h2>
    <p>
        Inserisci le tue credenziali di Poisson per accedere.
    </p>
    <p>
        Per il recupero credenziali vieni direttamente al PHC a parlarne con calma con noi altrimenti puoi inviaci una email all'indirizzo <a href="mailto:{{ .Config.Email }}">{{ .Config.Email }}</a>.
    </p>
    <div class="row">
        <label for="login-username">Username:</label>
        <input type="text" name="username" id="login-username">    
    </div>
    <div class="row">
        <label for="login-password">Password:</label>
        <input type="password" name="password" id="login-password">
    </div>
    <div class="row">
        <div class="hfill"></div>
        <input type="submit" value="Accedi">
        <!-- <div class="hfill"></div> -->
    </div>
</form>

{{end}}