{{template "base" .}}

{{define "title"}}PHC &bull; phc.dm.xxxxx.xx{{end}}

{{define "body"}}
<section>
    <h2>
        <i class="far fa-newspaper"></i>
        Notizie Importanti
    </h2>
    <div class="card-list">
        <div class="card">
            <div class="title">
                <a href="/news/notizia-super-wow-1">
                    News 1
                </a>
            </div>
            <div class="date">
                yyyy-mm-dd
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed
                natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
    
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="/news/notizia-super-wow-2">
                    News 2
                </a>
            </div>
            <div class="date">
                yyyy-mm-dd
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed
                natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
    
            </div>
        </div>
    </div>
</section>

<section>
    <h2>
        <i class="fas fa-history"></i>
        Archivio notizie
    </h2>
    <div class="card-list">
        <div class="card">
            <div class="title">
                <a href="/news/notizia-antica-1">Notizia Antica 1</a>
            </div>
            <div class="date">yyyy-mm-dd</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed
                natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
    
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="/news/notizia-antica-2">Notizia Antica 2</a>
            </div>
            <div class="date">yyyy-mm-dd</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed
                natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
    
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="/news/notizia-antica-3">Notizia Antica 3</a>
            </div>
            <div class="date">yyyy-mm-dd</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed
                natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
    
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="/news/notizia-antica-4">Notizia Antica 4</a>
            </div>
            <div class="date">yyyy-mm-dd</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed
                natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
    
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="/news/notizia-antica-5">Notizia Antica 5</a>
            </div>
            <div class="date">yyyy-mm-dd</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed
                natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
    
            </div>
        </div>
        <div class="card">
            <div class="title">
                <a href="/news/notizia-antica-6">Notizia Antica 6</a>
            </div>
            <div class="date">yyyy-mm-dd</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo aperiam, voluptas quam alias esse sed
                natus tempore suscipit fugiat sit delectus exercitationem numquam ipsum assumenda recusandae consequatur...
    
            </div>
        </div>
    </div>
</section>
{{end}}