{{template "base" .}}

{{define "title"}}PHC &bull; phc.dm.xxxxx.xx{{end}}

{{define "body"}}
<section>
    <h2>Notizie Importanti</h2>
    <div class="card-list">
        {{ range .Articles }}
        {{ if .Important }}
        <div class="card">
            <div class="title">
                <a href="/news/{{ .Id }}">
                    {{ .Title }}
                </a>
            </div>
            <div class="date">{{ .PublishDate.Format "2006/01/02" }}</div>
            <div class="description">{{ .Description }}</div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>

<section>
    <h2>
        <i class="fas fa-history"></i>
        Archivio notizie
    </h2>
    <div class="card-list">
        {{ range .Articles }}
        {{ if not .Important }}
        <div class="card">
            <div class="title">
                <a href="/news/{{ .Id }}">
                    {{ .Title }}
                </a>
            </div>
            <div class="date">{{ .PublishDate.Format "2006/01/02" }}</div>
            <div class="description">{{ .Description }}</div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
{{end}}