{{template "base" .}}

{{define "title"}}PHC &bull; Utenti &bull; phc.dm.xxxxx.xx{{end}}

{{define "body"}}
<section>
    <h2>
        <i class="fas fa-users"></i>
        Lista degli Utenti
    </h2>
    <p>
        Questa è la lista di tutti gli utenti con un account su Poisson. Scrivi nome, cognome o username di un utente per filtrare la lista in tempo reale. Altrimenti di base in cima compariranno gli utenti con più "follower".
    </p>
    <div class="search">
        <div class="compound">
            <input type="text" id="search-field" placeholder="Cerca..." autocomplete="off">
            <button class="icon">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div class="user-list">
        <!-- Dummy data -->
    </div>
</section>
<script>
    
</script>

{{end}}