{{template "base" .}}

{{define "title"}}Poisson - Utenti{{end}}

{{define "body"}}
<h1>Utenti</h1>

<ul>
    <li>Persona 1</li>
    <li>Persona 2</li>
    <li>Persona 3</li>
    <li>Persona 4</li>
    <li>Persona 5</li>
    <li>Persona 6</li>
    <li>Persona 7</li>
    <li>Persona 8</li>
    <li>Persona 9</li>
    <li>Persona 10</li>
    <li>Persona 11</li>
    <li>Persona 12</li>
    <li>Persona 13</li>
    <li>Persona 14</li>
    <li>Persona 15</li>
    <li>Persona 16</li>
    <li>Persona 17</li>
    <li>Persona 18</li>
    <li>Persona 19</li>
    <li>Persona 20</li>
</ul>
{{end}}