
body.dark-mode {
    --bg: #282828;
    --fg: #6eac4d;

    --bg-dark: hsl(10, 10%, 20%);
    --bg-darker: hsl(10, 10%, 17%);
    --bg-darker-2: #1d2021;

    --accent-1: #154d24;
    --accent-1-fg: #278542;

    --card-date: #928374;
    --card-content: #d4be98;

    --font-sf: 'Inter', sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --shadow-1: 0 0 16px 0 #16182077;
}

.dark-mode nav .nav-logo img {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}